<configuration>

    <!-- ====== APPENDER PER CONSOLA ====== -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level [%thread] %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ====== APPENDER PER FITXER ====== -->
    <appender name="INFORME" class="ch.qos.logback.core.FileAppender">
        <file>informe.txt</file>

        <!-- Escriu INFO, WARN i ERROR; ignora DEBUG -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ====== ROOT LOGGER ====== -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="INFORME"/>
    </root>

</configuration>
